{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="h-100 gradient-form" style="background-color: #fff;">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0 ">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4 ">
                <div class="text-center">
                  <!-- <img src="https://i.imgur.com/3oqaca0.png"
                    style="width: 185px;" alt="logo"> -->
                  <h3 class="mt-1 mb-5 pb-1">{% trans "Login" %}</h3>
                  <p>{% blocktrans %}Welcome back! <br><br>If you have not created an account yet, then <a class="link" href="{{ signup_url }}">Register</a>
                    and engage with community, with comments and likes. {% endblocktrans %}</p><br>
                </div>
                <form class="login form-outline mb-4 row d-flex justify-content-center align-items-center" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <!--FORGOT PASSWORD-->
                  <!-- <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
                  <button class="btn btn-signup right" type="submit">{% trans "Login" %}</button>
                </form>
              </div>
            </div>
            <!-- <div class="col-lg-6 d-flex align-items-center gradient-custom-2"> -->
            <div class="col-lg-6 d-flex row justify-content-center">
              <!-- <a class="d-none d-lg-block" href="{% url 'home_page' %}"> -->
                <img src="https://i.imgur.com/5J0Y9TA.jpg" class="account-image" alt="brunet girl looking away and posing">
              <!-- </a> -->
              <!-- <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
