{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>TT Beauty</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body class="d-flex flex-column h-100 main-bg">
    <div class="loader"></div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <a class="d-block d-lg-none align-self-start container-fluid text-center" href="{% url 'home_page' %}">
            <img src="https://i.imgur.com/3oqaca0.png" alt="tt beauty services logo" class="sm-logo">
        </a>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul
                    class="navbar-nav container-fluid justify-content-center p-0 me-auto mb-4 mb-lg-0 align-items-center">
                    <li class="nav-item ">
                        <a class="nav-link active link" aria-current="page" href="{% url 'home_page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'services' %}">Services</a>
                    </li>
                    <a class="d-none d-lg-block" href="{% url 'home_page' %}">
                        <img src="https://i.imgur.com/3oqaca0.png" alt="tt beauty services logo" class="lm-logo"
                            style="width:auto;max-height:80px;">
                    </a>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'portfolio' %}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'books' %}">Book Online</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- load bar (test once Optimized)-->

        <!-- <div class='progress' id="progress_div">
            <div class='bar' id='bar1'></div>
            <div class='percent' id='percent1'></div>
        </div> -->

        <!-- load bar -->

        <input type="hidden" id="progress_width" value="0">
    </nav>

    <div class="alert-fixed container-fluid justify-content-center p-0 align-items-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show  alert-custom text-center" id="msg"
                    role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close alert-btn-custom" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main id="main" class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <footer class="text-center text-lg-start bg-light text-muted mt-auto" id="footermain">
        <section>
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Promotions</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Popular Services</h6>
                        <p>
                            <a href="#!" class="text-reset">Color</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Blowdry</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Cut</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Facial</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
                        <h6 class="text-uppercase fw-bold mb-2">Site links
                        </h6>
                        <p>
                            <a href="{% url 'home_page' %}" class="text-reset">Home</a>
                        </p>
                        <p>
                            <a href="{% url 'about' %}" class="text-reset">About</a>
                        </p>
                        <p>
                            <a href="{% url 'services' %}" class="text-reset">Services</a>
                        </p>
                        <p>
                            <a href="{% url 'portfolio' %}" class="text-reset">Portfolio</a>
                        </p>
                        <p>
                            <a href="{% url 'books' %}" class="text-reset">Book Online</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-flex justify-content-center p-3 border-bottom">
            <div style="font-size: 20px;">
                <a href="" class="me-4 text-reset text-decoration-none">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset text-decoration-none">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset text-decoration-none">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset text-decoration-none">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset text-decoration-none">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset text-decoration-none">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </section>
        <!-- Copyright -->
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
            © Copyright - Website by Edgaras Spiridonov for CI Project:
            <a class="text-reset fw-bold" href="https://github.com/EdgarasSp/tt-beauty-services-app">Github Project
                Repository</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/script.js" type="text/javascript"></script>
    <!-- <link rel="script" href="{% static 'js/script.js' %}"> -->


</body>

</html>