{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<!--portfolio card start-->
<div class="container">
    <div class="container">
        <div class="row g-0 h-100">
            <div class="col-md-6 ">
                <div>
                    <h1 class="post-title">{{ post.title }}</h1>
                    <p class="hot-pink-text">{{ post.author }} | {{ post.created_on }}</p>
                </div>
                <div>
                    <div class="card-body">
                        <p class="card-text ">
                            {{ post.content | safe }}
                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 portfolio-image">
                {% if "placeholder" in post.featured_image.url %}
                <img class="portfolio-image" src="https://i.imgur.com/XkAPsbJ.jpg" alt="portfolio placeholder image">
                <!--width="100%"-->
                {% else %}
                <img class="portfolio-image" src=" {{ post.featured_image.url }}" alt="portfolio image">
                <!--width="100%"-->
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--portfolio card end-->
<!--portfolio post start-->
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="row">
                <div class="col-1 font-weight-bold">
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                class="fas fa-heart"></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                class="far fa-heart"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                    {% endif %}
                    <span class="text-secondary"> {{ post.number_of_likes }}</span>
                </div>
                <div class="col-1">
                    {% with comments.count as total_comments %}
                    <strong class="text-secondary"><i class="far fa-comments"></i>
                        {{ total_comments }}</strong>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup mt-2">Submit</button>
                </form>
                {% else %}
                <h5 class="text-center">Please Login or Register below to leave a comment or a like.</h5>
                <div class="text-center">
                    <a href="{% url 'account_signup' %}" class="btn btn-signup my-3">Register</a>
                    <a href="{% url 'account_login' %}" class="btn btn-signup my-3">Login</a>
                  </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--portfolio post end-->
{% endblock content %}