{% extends "base.html" %}

{% block content %}

<!-- Hero -->
<div class="container-fluid">
  <!-- Hero Banner Section -->
  <section class="hero-banner col-12 bg-light pb-2">
    <div class="container">
      <br /><br /><br /><br />
      <div class="row row align-items-center text-center">
        <div class="col-lg-6 offset-lg-0 order-lg-1 ">
          <img src="https://i.imgur.com/GVZTMJn.jpg" class="img-fluid  rounded-corners" alt="Hairdressers">
        </div>
        <div class="col-lg-6">
          <h1 class="mt-3 text-center">Our Services </h1>
          <p class="lead text-secondary my-5">It is a proven fact that we believe in keeping hair
            naturally beautiful and healthy without using harsh chemicals. All of the products we use are
            botanically formulated and/or organic.</p>
          <a href="{% url 'books' %}" class="btn btn-signup">Book Now</a>
        </div>
      </div>
      <br /><br /><br /><br />
      <br />
    </div>
  </section>
</div>
<!-- Hero -->

<!-- Rate Card -->
<div class="container pt-5 mt-5">
  <section class="section section-md bg-default text-center">
    <div class="container">
      <h2>Services & Prices</h2>
      <div class="divider-lg"></div>
      <p class="block-sm mt-4">Make every day a good hair day with TT Beauty Services, contact us directly to find out
        about special offers and discounts.</p>
      <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-12">
          <div class="pricing-list-classic">
            <div class="pricing-classic-item">
              <div class="pricing-classic-body">
                <h5>Cut & Blowdry</h5>
                <p>60 - 100 Minute Sessions </p>
              </div>
              <div class="price-value">
                <h5>£40.00</h5>
              </div>
            </div>
            <div class="pricing-classic-item">
              <div class="pricing-classic-body">
                <h5>Restyle</h5>
                <p>30 - 40 Minute Sessions </p>
              </div>
              <div class="price-value">
                <h4>£37.00</h4>
              </div>
            </div>
            <div class="pricing-classic-item">
              <div class="pricing-classic-body">
                <h5>Men’s cut</h5>
                <p>20 - 40 Minute Sessions </p>
              </div>
              <div class="price-value">
                <h4>£20.00</h4>
              </div>
            </div>
            <div class="pricing-classic-item">
              <div class="pricing-classic-body">
                <h5>Blowdry</h5>
                <p>30 - 60 Minute Sessions </p>
              </div>
              <div class="price-value">
                <h4>£55.00</h4>
              </div>
            </div>
            <div class="pricing-classic-item">
              <div class="pricing-classic-body">
                <h5>Full head highlights</h5>
                <p>60 - 100 Minute Sessions </p>
              </div>
              <div class="price-value">
                <h4>£60.00</h4>
              </div>
            </div>
            <div class="pricing-classic-item">
              <div class="pricing-classic-body">
                <h5>Half head highlights</h5>
                <p>60 - 100 Minute Sessions </p>
              </div>
              <div class="price-value">
                <h4>£50.00</h4>
              </div>
            </div>
            <div class="pricing-classic-item">
              <div class="pricing-classic-body">
                <h5>Full head/roots permanent Colour</h5>
                <p>90 - 120 Minute Sessions </p>
              </div>
              <div class="price-value">
                <h4>£40.00</h4>
              </div>
            </div>
            <div class="pricing-classic-item">
              <div class="pricing-classic-body">
                <h5>Full Head Semi Permanent Colour</h5>
                <p>90 - 120 Minute Sessions </p>
              </div>
              <div class="price-value">
                <h4>£35.00</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Rate Card -->

<!-- Jumbotron -->
<div class="container">
  <div class="bg-image p-5 text-center shadow-1-strong mb-5 mt-5 row row align-items-center">
    <br /><br />
    <div class="col-lg-4">
      <img src="https://i.imgur.com/m0APuyc.jpg" class="img-fluid  rounded-corners-reverse" alt="Hairdressers">
    </div>
    <div class="col-lg-4">
      <h1 class="mb-3 h2 mt-3">Jumbotron</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus praesentium
        labore accusamus sequi, voluptate debitis tenetur in deleniti possimus modi voluptatum
        neque maiores dolorem unde? Aut dolorum quod excepturi fugit.
      </p>
      <a href="{% url 'books' %}" class="btn btn-signup mb-3">Book Now</a>
    </div>
    <div class="col-lg-4">
      <img src="https://i.imgur.com/uL7ZYKV.jpg" class="img-fluid  rounded-corners" alt="Hairdressers">
    </div>
    <br /><br />
  </div>
</div>
<!-- Jumbotron -->

<!-- Accordion -->
<div class="container">
  <div class="text-center mt-5">
    <h2>FAQ</h2>
    <div class="divider-lg"></div>
    <p class="block-sm mt-4">Make every day a good hair day with TT Beauty Services, contact us directly to find out
      about special offers and discounts.</p>
  </div>
  <div class="accordion" id="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button text-reset hot-pink" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Q. Can I make an appointment for the same day service?</button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordion">
        <div class="accordion-body">
          <p>Yes you can, but we would recommend you to book for a day in advance so that we can make proper
            arrangements for you.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed text-reset hot-pink" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Q. Can I cancel a scheduled appointment?</button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordion">
        <div class="accordion-body">
          <p>Absolutely, but we would recommend you to cancel for at least 4 hours before the appointment.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed text-reset hot-pink" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Q. My hair is very fine /limp/flat/thinning, can you help?</button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree"
        data-bs-parent="#accordion">
        <div class="accordion-body">
          <p>The cut and shape is going to be even more important if your hair falls into this category. Knowing how to
            style your own hair, what products and tools to use and how to use them effectively is the way to achieve
            that ?salon look? effortlessly. Let us show you how. Using hair care products will transform the look and
            feel of your hair.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed text-reset hot-pink" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Q. Need help with my DIY project. I've put a colour on my hair and it's come out all wrong!!?</button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree"
        data-bs-parent="#accordion">
        <div class="accordion-body">
          <p>Call us and book for a FREE consultation, we are a experienced salon and it may be something quick, easy
            and affordable that can be done to put it right..</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Accordion -->

<!--contact-us-section-->
<div>
  {% include "contact/contact_form.html" %}
  </div>
  <!--contact-us-section-->

{%endblock%}