{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    <!-- Hero Banner Section -->
    <section class="hero-banner col-12 bg-light py-5">
        <div class="container" >
            <br/><br/><br/><br/>
            <div class="row row align-items-center">
                <div class="col-lg-5 offset-lg-0 order-lg-1 ">
                    <img src="https://i.imgur.com/GVZTMJn.jpg" class="img-fluid  rounded-corners" alt="Hairdressers">
                </div>
                <div class="col-lg-6">
                    <h1 class="mt-3 text-center">Our Services </h1>
                    <p class="lead text-secondary my-5">It is a proven fact that we believe in keeping hair
                        naturally beautiful and healthy without using harsh chemicals. All of the products we use are
                        botanically formulated and/or organic.</p>
                    <a href="{% url 'books' %}" class="btn btn-signup">Book Now</a>
                </div>
            </div>
            <br/><br/><br/><br/>
            <br/>
        </div>
    </section>
</div>

<div class="container pt-5 mt-5">
    <section class="section section-md bg-default text-center">
        <div class="container">
          <h2>Services & Prices</h2>
          <div class="divider-lg"></div>
          <p class="block-sm mt-4">Make every day a good hair day with TT Beauty Services, contact us directly to find out about special offers and discounts.</p>
          <div class="row justify-content-center">
            <div class="col-sm-10 col-lg-12">
              <div class="pricing-list-classic">
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h5>Cut & Blowdry</h5>
                    <p>60 - 100 Minute Sessions </p>
                  </div>
                  <div class="price-value">
                    <h5>£40.00</h5>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h5>Restyle</h5>
                    <p>30 - 40 Minute Sessions </p>
                  </div>
                  <div class="price-value">
                    <h4>£37.00</h4>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h5>Men’s cut</h5>
                    <p>20 - 40 Minute Sessions </p>
                  </div>
                  <div class="price-value">
                    <h4>£20.00</h4>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h5>Blowdry</h5>
                    <p>30 - 60 Minute Sessions </p>
                  </div>
                  <div class="price-value">
                    <h4>£55.00</h4>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h5>Full head highlights</h5>
                    <p>60 - 100 Minute Sessions </p>
                  </div>
                  <div class="price-value">
                    <h4>£60.00</h4>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h5>Half head highlights</h5>
                    <p>60 - 100 Minute Sessions </p>
                  </div>
                  <div class="price-value">
                    <h4>£50.00</h4>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h5>Full head/roots permanent Colour</h5>
                    <p>90 - 120 Minute Sessions </p>
                  </div>
                  <div class="price-value">
                    <h4>£40.00</h4>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h5>Full Head Semi Permanent Colour</h5>
                    <p>90 - 120 Minute Sessions </p>
                  </div>
                  <div class="price-value">
                    <h4>£35.00</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

</div>
{%endblock%}